/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadre {
    border: solid 1px red;
}   

body {
    min-width: 992px;
    max-width: 1440px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: black;
}

/* Ce quisuit concerne le header */
header {
    display: flex;
    justify-content: space-between;
    height: 126px;
    padding-left: 5px;
    }

header img {
    width: 61px;
    height: 19px;
    margin-top: 44px; 
    }

header nav {
    display: flex;
    }

header nav a {
    padding-top: 46px;
    font-size: 1em;
    font-weight: 500;    
    width: 10.125em;
    text-align: center;
    border-top: solid 2px transparent;
    }

header nav a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    }

   /* Ce qui suit concerne le bandeau */
.bandeau{
padding-left: 0.385%;
}
 
.bandeau h1{
    margin-bottom: 8px;
    }

    form{
    margin-top: 20px;
    display: flex;
    height: 49px;
    }

        label{
        display: flex;
        width: 3.125em;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        }

        .fa-location-dot{
        font-size: 1.125em;
        color: black;
        }

        .recherche_d_une_ville{
        width: 16.61%;
        font-weight: 700;
        font-size: 1.125em;
        border-top-color: #F2F2F2;
        border-bottom-color: #F2F2F2;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left: none;
        border-right: none;
        border-top-style: solid;
        border-bottom-style: solid;
        padding-left: 1%;
        }
            
        .button{
        width: 10.15%;
        color: white;
        border-color: #0065FC;
        background-color: #0065FC;
        font-weight: 700;
        font-size: 1.125em;
        border-top-right-radius: 0.938em;
        border-bottom-right-radius: 0.938em;
        text-align: center;
        }

    .bandeau nav{
    margin-top: 32px;
    margin-left: 0.54%;
    display: flex;
    width: 70.3%;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    align-items: center ;
    }
   
        ul{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            margin-left: 3.5%;
            }

        li{
            display: flex;
            padding-left: 2.2%;
            padding-right: 2.2%;
            align-items: center;
            border-style: solid;
            border-color:#D9D9D9;
            border-width: 0.125em;
            border-radius: 1.563em;
            font-size: 17px;
            justify-content: space-between;
            white-space: nowrap;
            }
        
        li .fa-solid{
            margin-right: 0.625em;
            font-size: 1.125em;
            color: blue;
            }

        li:hover{
        background-color: #DEEBFF;
        }

    .info{
    margin-top: 35px;
    display: flex;
    height: 24px;
    margin-left: 0.25em;
    align-items: center;
    }

    .info div{
    display: flex;
    margin-right: 0.85%;
    height: 24px;
    width: 24px;
    border-style: solid;
    border-color:#D9D9D9;
    border-width: 1px;
    border-radius: 12px;
    font-size: 0.63em;
    justify-content: center;
    align-items: center;
    }

    


/* Ce qui suit concerne la box 1, contenant "hébergements" et "populaires" */

.Box{
margin-top: 19px;
display: flex;
justify-content: space-between;
font-size: 14px;
}

  /* Ce qui suit concerne la section "hébergements"*/   

    .hebergements{
    background-color: #F2F2F2;
    padding-top: 42px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-bottom: 46px;
    width: 66%;
    border-radius: 20px;
    }


        .les_cards{
        margin-top: 23px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    
            .card {
            width: 246px;
            height: 199px;
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            margin-bottom: 30px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }
            
                .vignette_hebergement{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;   
                height: 124px;
                }

                a h2{
                margin-top: 9px;
                margin-left: 11px;
             }

                a h3{
                margin-top: 4px;
                margin-left: 11px;
                line-height: 15px;
                }


        .afficherplus{
        margin-top: 10px;
        margin-left: 4px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18;
        }

    .populaires {
    background-color: #F2F2F2;
    margin-left: 40px;
    padding-top: 42px;
    padding-left: 37px;
    padding-right: 40px;
    width: 31%;
    border-radius: 20px;
    }

        .lespluspopulaires{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

       
        .lescardspop{
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        }

            .cardpop {
            display: flex;
            width: 343px;
            height: 144px;
            border-radius: 20px;
            background-color: white;
            padding: 5px;
            margin-bottom: 33px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }

                .hebergementpop{
                display: flex;
                width: 137px;
                height: 144px;
                }
            
                    .vignette_hebergementpop{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    width: 100%;
                    object-fit: cover;
                    }

                .descriptifpopulaire{
                display: flex;
                flex-direction: column;
                margin-top: 11px;
                margin-left: 20px;
                justify-content: space-between;
                }

                    .descriptifpopulairebox1{
/*N'est là que pour la structuration du CSS*/
                    }
                        .nomdugitepop{
/*N'est là que pour la structuration du CSS*/   
                        }
            
                        .tarifpopulaire{
                        margin-top: 7px;
                        }
                        
                    .notationpopulaire{
                    margin-bottom: 7px;
                    }

/* Ce qui suit concerne la section "activités" */

.lesactivites{
margin-top: 60px;
display: flex;
flex-direction: column;
width: 100%;
}

    .exemplesactivites{
    display: flex;
    width: 100%;
    margin-top: 18px;
    }

        .cardactivite {
        display: flex;
        flex-direction: column;
        width: 302px;
        height: 445px;
        border-radius: 20px;
        background-color: white;
        margin-right: 43px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);      
        }

            .activites{
            height: 388px
            }

                .vignette_activite{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

            .nomactivite{
            display: flex;
            margin-left: 19px;
            margin-top: 20px;      
            }

/* Ce qui suit concerne le footer*/

footer{
margin-top: 61px;
padding-left: 70px;
padding-top: 45px;
display: flex;
justify-content: space-between;
background-color: #F2F2F2;
height: 225px;
padding-right: 25%;
}

    .titredelaboxdufooter{
    margin-bottom: 20px;
    }

    .choixdansfooter{
    margin-bottom: 12px;
    }
    footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }

    footer li{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    color: black;
    margin-bottom: 12px;
    }



/* Ce qui suit est valable pour plusieurs sections */
.fa-star{
color: #0065FC;
}
    
.star {
color: #F2F2F2;
}



.fa-chart-line{
width: 18px;
height: 16px;
}

h1 {
font-weight: 700;
font-size: 1.375em;
}

h2 {font-size: 1em;
color: black;

}   

h3 {font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 0.875em;
margin: 0;
color: black;
}



h4 {font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 16px;
margin: 0;
color: black;
}

h5 {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
color: black;
margin: 0;
}

a{
text-decoration: none;
margin: none;
color: black;
}

p{
margin: 0px;
line-height: 16px;
}

