   
body {
    width: 1400px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    }

    /* Ce quisuit concerne le header */
    header{
    display: flex;
    height: 126px;
    justify-content: space-between;
    padding-left: 5px;
    }
  
        .header1{
        padding-top: 44px;
        }

            .booki{
            width: 61px;
            height: 19px;
            }

        .header2{
        display: flex;
        width: 30%;
        justify-content: space-around;
       }

            .header2a{
            padding-top: 48px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
            width: 162px;
            margin: 0;
            text-align: center;
            }

            .header2a:hover{
            color: #0065FC;
            font-weight: 500;
            border-top-style: solid;
            border-top-width: 2px;
            padding-top: 46px;
            }

   /* Ce qui suit concerne le bandeau */
.bandeau{
padding-left: 5px;
}

   .bandeau1{
/* n'est là que pour la structure*/
    }

    .bandeau2{
    margin-top: 8px;
    }

    .bandeau3{
    margin-top: 20px;
    }

        form{
        display: flex;
        height: 49px;
        }

            label{
            display: flex;
            width: 50px;
            justify-content: center;
            background-color: #F2F2F2;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            }

            p i{
                color: black;
                font-size: 19px;
                }

            .recherche_d_une_ville{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            border-top-color: #F2F2F2;
            border-bottom-color: #F2F2F2;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-left: none;
            border-right: none;
            border-top-style: solid;
            border-bottom-style: solid;
            padding-left: 17px;
            }

            input::placeholder {
            opacity: 1;
            color: black;
            }
        
            button{
            width: 132px;
            color: white;
            border-color: #0065FC;
            background-color: #0065FC;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            text-align: center;
            }

    .bandeau4{
    margin-top: 31px;
    margin-left: 7px;
    display: flex;
    width: 70%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    height: 50px;
    justify-content: space-between;
    }

        .Filtres{
        display: flex;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        }

        .choix{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-style: solid;
        border-color:#D9D9D9;
        border-width: 2px;
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        }

            i {
            color: blue;
            font-size: 19px;
            }

            .choix_du_filtre{
            background: none;
            height: 50px;
            border: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 17px;
            }

    .bandeau5{
    margin-top: 35px;
    display: flex;
    height: 24px;
    align-items: center;
    margin-left: 4px;
    }

        .info{
        display: flex;
        font-size: 10px;
        height: 24px;
        width: 24px;
        border-style: solid;
        border-color:#D9D9D9;
        border-width: 1px;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        }

        div i{
        font-size: 12px;
        line-height: 19px;
        }

        .nblogements{
        margin-left: 11px;
        }

/* Ce qui suit concerne la box 1, contenant "hébergements" et "populaires" */

.Box1{
margin-top: 39px;
display: flex;
justify-content: space-between;
width: 100%;
}

  /* Ce qui suit concerne la section "hébergements"*/   

    .hebergements{
    background-color: #F2F2F2;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 46px;
    width: 60%;
    border-radius: 20px;
    }

        .hebergementamarseille{
/*N'est là que pour la structuration du CSS*/
        }
    
        .les_cards{
        margin-top: 23px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    
            .card {
            width: 246px;
            height: 199px;
            border-radius: 20px;
            background-color: white;
            padding: 5px;
            margin-bottom: 30px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }
            
                .vignette_hebergement{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;   
                margin-bottom: 5px;
                height: 124px;
                width: 15%;
                }

                .nomdugite{
                margin-top: 4px;
                margin-left: 11px;
                line-height: 15px;
                }

                .tarif{
                margin-left: 11px;
                margin-top: 9px;
                }

                .notation {
                margin-left: 11px;
                display: flex;
                margin-top: 9px;
                margin-bottom: 11px;
                }

        .afficherplus{
        margin-top: 10px;
        margin-left: 4px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18;
        }

    .populaires {
    background-color: #F2F2F2;
    margin-left: 40px;
    padding-top: 42px;
    padding-left: 37px;
    padding-right: 40px;
    width: 25%;
    border-radius: 20px;
    }

        .lespluspopulaires{
/*N'est là que pour la structuration du CSS*/
        }
       
        .lescardspop{
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        }

            .cardpop {
            display: flex;
            width: 343px;
            height: 144px;
            border-radius: 20px;
            background-color: white;
            padding: 5px;
            margin-bottom: 33px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }

                .hebergementpop{
                display: flex;
                width: 137px;
                height: 144px;
                }
            
                    .vignette_hebergementpop{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    width: 100%;
                    object-fit: cover;
                    }

                .descriptifpopulaire{
                display: flex;
                flex-direction: column;
                margin-top: 11px;
                margin-left: 20px;
                justify-content: space-between;
                }

                    .descriptifpopulairebox1{
/*N'est là que pour la structuration du CSS*/
                    }
                        .nomdugitepop{
/*N'est là que pour la structuration du CSS*/   
                        }
            
                        .tarifpopulaire{
                        margin-top: 7px;
                        }
                        
                    .notationpopulaire{
                    margin-bottom: 7px;
                    }

/* Ce qui suit concerne la section "activités" */

.lesactivites{
margin-top: 60px;
display: flex;
flex-direction: column;
width: 100%;
}

    .exemplesactivites{
    display: flex;
    width: 100%;
    margin-top: 18px;
    }

        .cardactivite {
        display: flex;
        flex-direction: column;
        width: 302px;
        height: 445px;
        border-radius: 20px;
        background-color: white;
        margin-right: 43px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);      
        }

            .activites{
            height: 388px
            }

                .vignette_activite{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

            .nomactivite{
            display: flex;
            margin-left: 19px;
            margin-top: 20px;      
            }

/* Ce qui suit concerne le footer*/

footer{
margin-top: 61px;
padding-left: 70px;
padding-top: 45px;
display: flex;
justify-content: space-between;
background-color: #F2F2F2;
height: 225px;
padding-right: 25%;
}

    .titredelaboxdufooter{
    margin-bottom: 20px;
    }

    .choixdansfooter{
    margin-bottom: 12px;
    }

/* Ce qui suit est valable pour plusieurs sections */
.fa-star{
color: #0065FC;
}
    
.star {
color: #F2F2F2;
}

h1 {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 22px;
margin: 0px;
}

h2 {font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 14px;
margin: 0;
}

h3 {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 16px;
margin: 0;
}    

h4 {font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 16px;
margin: 0;
}

h5 {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
margin: 0;
}